<% layout("layouts/boilerplate") %>
    <h1>All campgrounds</h1>
    <a href="/campgrounds/new">Create a new campground</a>
    <ul>
        <% for (let campground of campgrounds) { %>
            <li>
                Camp name : <%= campground.title %> - <a href="/campgrounds/<%= campground._id %>">Details</a>
            </li>
            <% } %>
    </ul>