<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a new campground</title>
</head>

<body>

    <form action="/campgrounds" method="POST">

        <label for="title">Enter the campground name:</label>
        <input type="text" id="title" name="campground[title]">
        <label for="location"></label>
        <input type="text" id="location" name="campground[location]">
        <button>Submit</button>
    </form>

    <footer>
        <a href="/campgrounds">Back to all campgrounds</a>
    </footer>

</body>

</html>