<% layout("layouts/boilerplate") %>

    <form action="/campgrounds" method="POST">

        <label for="title">Enter the campground name:</label>
        <input type="text" id="title" name="campground[title]">
        <label for="location"></label>
        <input type="text" id="location" name="campground[location]">
        <button>Submit</button>
    </form>

    <footer>
        <a href="/campgrounds">Back to all campgrounds</a>
    </footer>