<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campground details</title>
</head>

<body>
    <h1>Here are the details of the <%= campground.title %> campground:</h1>
    <ul>
        <li>
            Location: <%= campground.location %>
        </li>
    </ul>

    <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
        <button>Delete this campground</button>
    </form>

    <footer>
        <ul>
            <li><a href="/campgrounds/<%= campground._id %>/edit">Edit this campground</a></li>
            <li><a href="/campgrounds">Back to all campgrounds</a></li>
        </ul>
    </footer>
</body>

</html>